<div class="header">
<br>
<h1>TAYGAmemory</h1>
<%= link_to '新規投稿', '/posts/new' %>
</div>


<div class="content">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-image">
        <%= image_tag post.image.to_s %>
      </div>
      <div class="photdate">
        撮影日：<%= post.image_at %>
      </div>
      <div class="post-content">
        <%= post.content %>
      </div>
      
  <% end %>
</div>