.header {
  height: 150px;
  width: 100%;
  background-color: #EEEEEE;
}

h1 {
  // margin: 0px;
  text-align: center;
}


// ここからコンテンツ部分

.content {
  margin-top:0px;
}


.post{
  // border: 1px solid;
  width: 600px;
  height: 600px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.post-content {
  border: 1px solid;
  width: 400px;
  height: 50px;
  line-height: 50px;
  text-indent: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px
}

.post-image {
  border: 1px solid;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.photdate {
  text-align: center;
}